---
services:
  mysql:
    image: mysql:8.0
    container_name: mysql
    # networks:
    #   - app_network
    ports:
      - "3306:3306"
    healthcheck:
      test: [ "CMD", "mysqladmin" ,"ping", "-h", "localhost" ]
      start_period: 30s
      interval: 10s
      timeout: 10s
      retries: 5
    volumes:
      - mysql_data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: 123456
      MYSQL_DATABASE: sampledb

  phpmyadmin:
    image: phpmyadmin:5
    container_name: phpmyadmin_ui
    # networks:
    #   - app_network
    environment:
      PMA_HOST: mysql
      PMA_USER: root
      PMA_PASSWORD: 123456
    ports:
      - "81:80"

# networks:
#   app_network:
#     driver: bridge

volumes:
  mysql_data:
    driver: local
